.section {

  .bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    background-size: cover;
    width: calc(100% - 10px);

    @media (min-width: $bp-small) {
      width: calc(100% - 20px);
    }

    @media (min-width: $bp-middle) {
      width: calc(100% - 30px);
    }

    &:before {
      @include pseudo-block($top: -10px);
      border-top: 52px solid #fff;

      @media (min-width: $bp-small) {
        top: 0;
      }
    }

    img {
      display: none;
    }
  }
}