.b-links {
  text-align: center;

  & + .b-links {
    margin-top: 30px;
  }

  .title {
    position: relative;
    z-index: 1;
    margin-bottom: 28px;
    padding: 12px 0;

    &:before {
      @include pseudo-block($top: 0, $left: 50%, $bottom: 0);
      background: #f0f0f0;
      width: 4000px;
      @include translateX(-50%);
      z-index: -1;
      border-top: 2px solid #e2e2e2;
      border-bottom: 2px solid #e2e2e2;
    }
  }

  h3 {
    color: #9a9a9a;
    margin: 0;
  }

  span {
    display: block;
    margin-bottom: 16px;

    @media (max-width: $bp-small) {
      margin-bottom: 10px;
    }
  }

  .col {
    margin-bottom: 20px;


    @media (min-width: $bp-small) {
      margin-bottom: 30px;
      float: none;
      width: 24%;
      display: inline-block;
      padding: 0 5px;
    }
  }

  &.style-a {

    .btn-wrap {

      @media (min-width: $bp-small) {
        height: 55px;
        display: table;
        width: 100%;
      }
    }

    .btn {
      padding: 10px 18px;

      @media (min-width: $bp-small) {
        display: table-cell;
        vertical-align: middle;
        padding: 8px 15px;
        line-height: 1.4;
      }
    }
  }
}