.b-modal {

  &.modal-error {

    .modal-dialog {
      height: 280px;
    }

    select, input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
      border: 1px solid #ff0000;
      color: #ff0000;
      @include input-placeholder(#ff0000);
    }

    .error-message {
      visibility: visible;
      opacity: 1;
    }
  }

  &.style-a {

    .modal-dialog {
      width:100%;
      max-width: 360px;
      text-align: center;
    }

    .modal-footer {
      text-align: center;
    }

    .modal-body {
      margin-bottom: 25px;

      a {
        color: #5c5c61;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .modal-header {
      padding-top: 50px;

      &:before {
        @include pseudo-block($top: 35px, $left: 50%);
        @include oneline-sprite-box($icons, none);
        @include translate(-50%, 0);

      }
    }
  }

  .modal-dialog {
    width: 310px;
    height: 247px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    &:before {
      @include pseudo-block($left: 50px, $top: 50px, $bottom: 50px, $right: 50px);
      box-shadow: 0 0 90px 20px rgba(0, 0, 0, .6);
    }
  }

  .modal-content {
    padding: 35px;
    border-radius: 0;
    background: image-url('bg/bg-popup.png') no-repeat;
    background-size: 100% 100%;
    height: 100%;
  }

  .modal-header {
    margin-bottom: 20px;
  }

  .modal-footer {
    text-align: right;
  }

  .close {
    font-size: 39px;
    color: #c0c0c0;
    font-family: $montserrat-semibold;
    @include transform(rotate(45deg));
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 34px;
    top: 0;
    @include transition(color .3s);

    &:hover {
      color: $color-a;
    }
  }

  h4 {
    font-family: $montserrat-semibold;
    font-size: 48px;
    margin: 0;
    color: $color-a;
    line-height: 1;
  }

  .form-item {
    margin: 0 0 8px;
  }

  select, input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
    width: 100%;
    padding: 5px 10px;
    color: #adadad;
    @include input-placeholder(#adadad);
    font-family: $montserrat-regular;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid #c0c0c0;
  }

  .desc {
    margin-top: -5px;
    font-size: 10px;
    font-family: $montserrat-semibold;

    a {
      text-decoration: underline;
      color: #adadad;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .error-message {
    color: #ff0000;
    font-size: 12px;
    font-family: $montserrat-regular;
    display: block;
    width: 130px;
    line-height: 1.2;
    position: absolute;
    bottom: 35px;
    left: 35px;
    @include transition(opacity .3s, visibility .3s);
    visibility: hidden;
    opacity: 0;
  }

  .form-submit, .btn-close {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: $montserrat-bold;
    color: $color-a;
    font-size: 18px;
    @include transition(color .3s);

    &:hover {
      color: #adadad;
    }
  }
}

.region-login-popup {
  width: 310px;
  height: 247px;
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  @include translate(-50%, -60%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  @include transition(all .3s);

  &.active {
    @include translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }

  &:before {
    @include pseudo-block($top: 50px, $left: 50px, $right: 50px, $bottom: 50px);
    box-shadow: 0 0 90px 20px rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  .close {
    background: none;
    border: none;
    position: absolute;
    top: 0px;
    right: 32px;
    font-size: 30px;
    @include transform(rotate(45deg));

    &:hover {
      color: $color-a-hover;
    }
  }

  p {
    font-size: 10px;
  }

  .form-item, .form-actions {
    margin: 0 0 7px;
  }

  .form-actions {
    text-align: right;
  }

  .item-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;

    li {
      margin: 0;

      a {
        color: #adadad;
      }
    }
  }

  .form-submit {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: $montserrat-bold;
    color: $color-a;
    font-size: 18px;
    @include transition(color .3s);

    &:hover {
      color: #adadad;
    }
  }

  select, input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
    width: 100%;
    padding: 5px 10px;
    color: #adadad;
    @include input-placeholder(#adadad);
    font-family: $montserrat-regular;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid #c0c0c0;
  }

  form {
    padding: 35px;
    border-radius: 0;
    background: image-url('bg/bg-popup.png') no-repeat;
    background-size: 100% 100%;
    height: 100%;
  }

  #ajax-forms-messages .messages {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0;

    ul li {
      margin: 0;
    }
  }

}