ul li.leaf {
  list-style: none;
}

.logged-in {

  div.tabs, .contextual-links-wrapper {

    a {
      opacity: 1 !important;
      color: #000 !important;
    }
  }

  .contextual-links-wrapper {
    font-size: 13px !important;

    .contextual-links {
      width: auto !important;
    }

    li {
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
      margin: 0 !important;
      font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
      padding: 0 !important;
      display: block !important;
      border: none !important;
      text-align: left !important;

      &:before {
        display: none !important;
      }

      a {
        text-decoration: none;
        text-transform: none;
        text-align: left !important;

        &:hover:before {
          display: none !important;
        }
      }
    }
  }

  div.tabs {
    position: absolute;
    z-index: 500;
    left: 0;
    top: 128px;
    font-size: 13px;
    text-align: center;
    margin: 0 !important;

    .tabs {
      border-bottom: none;
      padding: 0;

      ul {
        padding: 0 !important;
        margin: 0 !important;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 !important;
        margin: 0 0 0 2px !important;

        &.active a {
          border: none;
        }
      }

      a {
        border: none;
        margin: 0;
        padding: 5px 18px;
        display: block;
      }
    }
  }
}

.field-collection-container {
  margin: 0;

  .field-items .field-item {
    margin: 0;
  }
}